<form method="POST" action="/pokeDuel">
    <label for="pokemonOne">Enter your first pokemon: </label>
    <input type="text" id="pokemoneOne" name="pokemonOne"><br>
    <label for="pokemonOne">Enter your second pokemon: </label>
    <input type="text" id="pokemoneTwo" name="pokemonTwo"><br>
    <input type="submit">
</form>