<form method="POST" action="/pokeDuel">
    Enter your first pokemon: <input type="text" name="pokemonOne">
    Enter your second pokemon: <input type="text" name="pokemonTwo">
    <input type="submit">
</form>