<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>
    </title>
</head>

<body>
    <h2>Pokemon</h2>
    
    </nav><br>
    </div>

    <!-- drops in the contents of the actual template here -->
    <!-- does so w/ out escaping special html characters -->
    {{{body}}}
</body>

</html>